/* selector universal */

* {
    margin: 0;
    padding: 0;
}

/* selector de etiqueta */

body{
    background-color:rgb(50, 131, 104);
    color:rgb(5, 5, 5);

}
 /* selector id */
 #contenedor {
   width: 85%;
   height: 460%;
   background-color:chartreuse;
   margin: 10px;
   padding: 5px;
 }
 .encabezado{
   width: 97%;
   height: 125px;
   background-color: rgb(194, 155, 108);
   margin: 1em;
   border-radius: 5px;
   text-align: center;
 }
 #menu{
    height: 2%;
    background-color:rgb(150, 150, 241);
    margin: 1em;
    border-radius: 5px;
 }

 .carta{
   display: flex;
   width: 1%;
   height: 25px;
   align-items: center;
   text-align: center;
   justify-content: center;
 
 color: rgb(255, 251, 251);
 transition: 2s;
}
.carta:hover{
   background-color: rgb(9, 9, 50);
   border: 2px solid;
   border-radius: 30px;
   transition: 2s;
}

.menu{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   z-index: 1000;
}

.logo{
   font-size: 27px;
   color: rgb(247, 248, 248);
   font-weight: 800; 
   text-transform: uppercase;   
   font-style: normal;
   font-family: "Days One", sans-serif;

   
}
.menu .navbar ul li{
   position: relative;
   float: left;
   text-align: center;
}
.menu .navbar ul li a{
   text-decoration: none;
   font-size: 18px;
   padding: 20px;
   color: beige;
   display: block;
   text-align: center;
}
.menu .navbar ul li a:hover{
   color: rgb(250, 253, 252);
   text-align: center;
}
#menu{
   display: none;
}
.menu-icono{
   width: 25px;

}

.menu label{
   cursor: pointer;
   display: none;
}
#menu:checked ~ .navbar{
   display: initial;
}

@media(max-width:991px){
   .menu{
       padding: 30px;
   }
   .menu label{
       display: initial;
   }
   .menu .navbar{
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background-color: black;
       display: none;
   }
  


.menu .navbar ul li{
   width: 100%;
}

#menu:checked ~ .navbar{
   display: initial;

}
}

 /* selector de etiqueta para el menu */
 ul {
    text-align: center;
    padding: 10px;

 }
 li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;

 }

 li a:hover{
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    
 }

 /* selector de clase */
 .img{
    width: 30%;
    border-radius: 30px;
    justify-items: center;


 }
 .texto{
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
 }
 img:hover{
    width: 50%;
 }

 .pie{

    height: 30px;
    background-color:darkgray;
    margin: 2em;
    text-align: center;
    padding: 5px;

 }

 .pie h4{
    
    padding: 2px;
    color: black;
    font-size: 20px;
   

 }

 /*card*/

 .card{
   
   box-shadow: 0 4px 8px 0 black;
   overflow: hidden;
   max-width: 300px;
   margin: auto;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
 }
 .card:hover{

   max-width: 300px;
 }

 .card img{

   background-color: white;
 }
 .title{

   color: chocolate;
   font-size: 10px;
 }
 button{

   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 .madimi-one-regular {
   font-family: "Madimi One", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
.flex{
   display: flex;
   flex-wrap: wrap;
   
    flex-direction: row;
   justify-content: center;

}


