


.card{
    background-color:rgb(80, 80, 209);
   
    max-width: 500px;
    height: 200px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
}
.cards{
    background-color:rgb(184, 72, 72);
   
    max-width: 500px;
    height: 220px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
}